@page "/"
@using System.Net
@using Newtonsoft.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="main">
<img src="@_pokeListas.sprites.front_default" alt="pokemon" class="pokemon_image">

    <h1 class="pokemon_data">
      <span class="pokemon_number">@_pokeListas.id</span> -
      <span class="pokemon_name">@_pokeListas.name</span>
    </h1>

    <div class="form">
      <input @bind-value="_searchText" @onkeyup="() => ApiSearch()" type="search" class="input_search" placeholder="Name or Number and Press Enter" required/>
    </div>

<div class="buttons">
      <button class="button btn-prev" @onclick="ApiRetorno">Prev &lt;</button>
      <button class="button btn-next" @onclick="ApiProximo">Next &gt;</button>
</div>

<img src="./images/Pokedex.png" alt="pokedex" class="pokedex">

</div>

@code {
    private string _searchText;
    private int atual = 1;
    private PokeLista? _pokeListas;

    private async Task ApiSearch()
    {
        string uri = "https://pokeapi.co/api/v2/pokemon/" + _searchText;
        _pokeListas = await Http.GetFromJsonAsync<PokeLista>(uri);
    }

    private async Task ApiProximo()
    {
        atual++;
        string uri = "https://pokeapi.co/api/v2/pokemon/" + atual;
        if (atual == 898)
        {
            atual--;
        }
        _pokeListas = await Http.GetFromJsonAsync<PokeLista>(uri);
    }

    private async Task ApiRetorno()
    {
        atual--;
        string uri = "https://pokeapi.co/api/v2/pokemon/" + atual;
        if (atual == 0)
        {
            atual++;
        }
        _pokeListas = await Http.GetFromJsonAsync<PokeLista>(uri);
    }
    
    protected override async Task OnInitializedAsync()
    {
        _pokeListas = await Http.GetFromJsonAsync<PokeLista>("https://pokeapi.co/api/v2/pokemon/1");
    }

}